<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header card-header-primary">
          <h4 class="card-title mt-0"> Product</h4>
          <p class="card-category"></p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="">
              <th>
                ID
              </th>
              <th>
                Name
              </th>
              <th>
                Breed Name
              </th>
              <th>
                Color
              </th>
              <th>
                Gender
              </th>
              <th>
                Status
              </th>
              <th></th>
              </thead>
              <tbody>
              <tr *ngFor="let item of listDog">
                <td>
                  {{item.id}}
                </td>
                <td>
                  {{item.name}}
                </td>
                <td>
                  {{item.breedName}}
                </td>
                <td>
                  {{item.color}}
                </td>
                <td *ngIf="item.gender == 0">
                  Male
                </td>
                <td *ngIf="item.gender == 1">
                  Female
                </td>
                <td *ngIf="item.status == 1">
                  Active
                </td>
                <td *ngIf="item.status == 2">
                  Deactive
                </td>
                <td>
                  <a href=""><i class="material-icons">description</i></a>
                  <a [routerLink]="['/product/create-edit']" [queryParams]="{id: item.id}"><i class="material-icons">edit</i></a>
                  <a (click)="delete(item.id)"><i class="material-icons">delete</i></a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
